.title {
  color: black;
  font-size: 44px;
  font-weight: 900;
  line-height: 1, 36;
}

.menu {
  color: #212121;
  font-size: px;
  font-weight: 500;
  line-height: 1, 17;
  text-decoration: none;
}
.menu:hover {
  color: #2196f3;
}
button {
  color: black;
  font-size: 16px;
  font-weight: 700;
  line-height: 1, 87;
}
button {
  cursor: pointer;
  text-align: center;
}
.link {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1, 17;
  text-decoration: none;
}
.main {
  color: #212121;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 1, 17;
}
